:root {
    --primary: #000;
    --secondary: #666;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* basic styles */

body {
    font-family: 'Rubik Regular';
}

.primary-button {
    color: #fff;
    background-color: var(--primary);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}

.primary-button:hover {
    opacity: 0.8;
}

.secondary-button {
    color: #fff;
    background-color: #F44336;
    border: none;
    padding: 4px;
    cursor: pointer;
    margin-left: 10px;
}


@font-face {
    font-family: "Rubik Regular";
    src: url(assets/fonts/Rubik-Regular.ttf);
}

input {
    padding: 10px 8px;
    width: 100%;
    margin: 5px 0;
}

.caption {
    font-style: italic;
    color: var(--secondary);
    text-align: center;
    margin: 20px 0;
}

.caption-normal {
    color: var(--secondary);
    margin: 10px 0;
}

h3 {
    font-size: 2em;
    font-family: 'Rubik Regular';
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 100%;
}


/* main styles */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.site-nav {
    background-color: var(--primary);
    padding: 10px 15px;
}

.site-nav ul li {
    grid-column: 1/9;
    display: none;
}

.site-nav ul li:nth-child(1){
    display: block;
}

.site-nav a {
    text-transform: uppercase;
    color: #fff;
}

.site-nav .search-icon {
    grid-column: 12/13;
}

#band, #tour, #contact, footer {
    padding: 50px 0;
}

#band .grid > p {
    grid-column: 2 / 12;
}

.band-members {
    grid-row: 2;
    grid-column: 2 / 12;
    margin: 20px 0;
}

.band-members li {
    max-width: 60%;
    margin: 0 auto;
}

.band-members p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#tour {
    background-color: var(--primary);
}

#tour h3 {
    color: #fff;
}

#tour ul {
    grid-column: 2 / 12;
    margin-bottom: 30px;
}

#tour li {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 20px;
}

#tour .tag {
    float: right;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50%;
    font-size: 0.75em;
    padding: 5px 8px;
}

.tour-location {
    grid-column: 2 / 12;
    margin-bottom: 20px;
}

.tour-info {
    background-color: #fff;
    padding: 15px 20px;
}

#contact ul,
#contact form {
    grid-column: 2 / 12;
    margin-bottom: 20px;
}

#contact li {
    display: flex;
}

#contact li > p {
    margin-left: 20px;
}

#contact form > button {
    float: right;
}

footer {
    text-align: center;
}

footer i {
    color: var(--secondary);
    cursor: pointer;
    margin: 0 2px;
}

footer i:hover {
    opacity: 0.8;
}


/* small tablet screens */
@media screen and (min-width: 620px) {

    .band-members {
        display: flex;
    }

    .band-members li {
        max-width: 20%;
    }

    #tour ul {
        grid-column: 1 / 13;
        margin: 20px 30px;
    }

    .tour-location:nth-child(2) {
        grid-column: 1 / 5;
    }

    .tour-location:nth-child(3) {
        grid-column: 5 / 9;
    }

     .tour-location:nth-child(4) {
        grid-column: 9 / 13;
    }

    #contact ul {
        grid-column: 2 / 6;
    }
 
    #contact form {
        grid-column: 6 / 12;
    }

    #contact form input:nth-child(1), #contact form input:nth-child(2) {
        width: 46%;
    }

    #contact form input:nth-child(2) {
        float: right;
    } 
}


/* large tablets and laptop styles */
@media screen and (min-width: 960px) {

    .grid {
        gap: 30px;
    }

    body {
        font-size: 20px;
    }

    #band, #tour, #contact, footer {
        padding: 100px 0;
    }

    #tour ul {
        grid-column: 3 / 11;
        margin: 20px 0;
    }

    .tour-location:nth-child(2) {
        grid-column: 3 / 5;
        background-color: yellow;
    }

    .tour-location:nth-child(3) {
        grid-column: 6 / 8;
        background-color: pink;
    }

     .tour-location:nth-child(4) {
        grid-column: 9 / 11;
    }

    #contact ul {
        grid-column: 3 / 6;
    }
 
    #contact form {
        grid-column: 6 / 11;
    }
    
}






